.tile {
  padding: 0;
  height: 9em;
}

.tile-content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  text-align: center;
  margin: 4px;
  background-color: darkmagenta;
  color: white;
  padding: 8px;
  transition: filter 200ms;
}

.tile-content:hover {
  filter: brightness(150%);
}

.theme-1 .tile-content {
  background-color: #261832;
  color: #7C678E;
}

.theme-1 h3 {
  color: #9889A5;
}

.theme-2 .tile-content {
  background-color: #411D2A;
  color: #B98396;
}

.theme-2 h3 {
  color: #D7B1BE;
}

.theme-3 .tile-content {
  background-color: #30431E;
  color: #A2BE87;
}

.theme-3 h3 {
  color: #C9DDB6;
}

.theme-4 .tile-content{
  background-color: #4A4921;
  color: #D3D095;
}

.theme-4 h3 {
  color: #F5F3C9;
}
