.navbar-default {
  background: none;
  border: none;
  padding-left: 4em;
  padding-right: 4em;
  box-shadow: none;
}

.navbar a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* override bootstrap */
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  color: white !important;
}

.navbar a:hover {
  color: lightgray !important;
}

@media (max-width: 576px) {
  .navbar-default {
    padding: 0;
  }
}

/* Bootstrap Navbar Collapse Width Override */
@media (max-width: 1080px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
