.row {
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
}

@media only screen and (min-width : 320px) {
  .row {
    padding: 2em;
  }
}

@media only screen and (min-width : 480px) {
  .row {
    padding: 2em;
  }
}

@media only screen and (min-width : 768px) {
  .row {
    padding: 4em;
  }
}

@media only screen and (min-width : 992px) {
  .row {
    padding: 6em;
  }
}

@media only screen and (min-width : 1200px) {
  .row {
    padding: 8em;
  }
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: relative;
  height: 100%;
}

section h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  font-family: 'Permanent Marker', cursive;
  font-size: 8vmax;
  text-align: center;
  color: white;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.atlasbg {
  background-image: url('../img/atlas.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .5);
}

.appsbg {
  background-image: url('../img/apps.jpg');
}

.databg {
  background-image: url('../img/radio.jpg');
}

.powerlinebg {
  background-image: url('../img/powerline.jpg');
}

.cartographybg {
  background-image: url('../img/map.jpg');
}
