footer {
  background-color: #333;
  color: #CCC;
  padding: 2em;
}

footer div {
  margin: 1em;
  text-align: center;
}

footer a {
  color: inherit;
  transition: color 200ms;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
