@media only screen and (min-width : 320px) {
  .responsive-padding {
    padding: 2em;
  }
}

@media only screen and (min-width : 480px) {
  .responsive-padding {
    padding: 2em;
  }
}

@media only screen and (min-width : 768px) {
  .responsive-padding {
    padding: 4em;
  }
}

@media only screen and (min-width : 992px) {
  .responsive-padding {
    padding: 6em;
  }
}

@media only screen and (min-width : 1200px) {
  .responsive-padding {
    padding: 8em;
  }
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.cover-panel {
  display: flex;
  flex-direction: column;
}

.navbar-container {
  flex: 0;
}

.header-quote-container {
  position: relative;
  flex: 1;
}

.header-quote-container h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  font-family: 'Permanent Marker', cursive;
  font-size: 8vmax;
  text-align: center;
  color: white;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.tiles {
  padding: 0;
}

.atlasbg {
  background-image: url('./background/atlas.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .5);
}

.appsbg {
  background-image: url('./background/apps.jpg');
}

.databg {
  background-image: url('./background/radio.jpg');
}

.powerlinebg {
  background-image: url('./background/powerline.jpg');
}

.cartographybg {
  background-image: url('./background/map.jpg');
}
