.atlasbg {
  background-image: url('./img/atlas.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .5);
}

.appsbg {
  background-image: url('./img/apps.jpg');
}

.powerlinebg {
  background-image: url('./img/powerline.jpg');
}

.cartographybg {
  background-image: url('./img/map.jpg');
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Permanent+Marker|Open+Sans');
